<!DOCTYPE html>
<html>
    <head>
        <title>Pet Shelter</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    "pets_#{@page_layout}", media: 'all' %>
        <%= javascript_include_tag "pets_#{@page_layout}" %>
    </head>

    <body>
        <div id="wrapper" class="container">
            <%= yield %>
            <footer>
                <p>c2020. <span class="orange_color">V88Studios.</span>	All Rights Reserved</p>
            </footer>
        </div>
    </body>
</html>
